body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin-block: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

a {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.button-link {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}

.header-logo-w {
    color:#4d5ae5;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link.current {
    color: #404bbf;
}

.header-menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
   }

.address {
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-mail,
.address-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.address-mail:hover,
.address-mail:focus {
    color: #404bbf;
}

.address-phone:hover,
.address-phone:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url("../images/people-office 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {
  text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: none;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features {
    background-color: #fff;
    padding: 120px 0; 
}

.features-list {
   display: flex;
       gap: 24px;    
}

.features-item {
    width: calc((100% - 24px * 3) / 4);
    }

.features-content-icon {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    height: 112px;
    width: 100%;
    margin-bottom: 8px;
}

.features-icon {
    display: block;
}  

.features-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our {
     background-color: #f4f4fd;
        padding-block: 120px;
}

.our-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: auto;
}

.our-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.our-item {
    background-color:#fff;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    flex: 1 1 calc((100% - 24px * 3) / 4);
    width: auto;
    min-height: 428px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
           
}

.our-content {
    padding: 32px 16px;
    margin-top: auto;
    }

.our-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding: 0;
    margin-bottom: 8px;
}

.our-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    height: auto;
    width: auto;
}

.our-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}


.our-social-item {
    width: 40px;
    height: 40px;
}

.our-social-icon {
    fill: currentColor;
    display: block;
}

.our-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: #4d5ae5;  /* основний колір */
    border-radius: 50%;         /* робить коло */

    color: #ffffff;             /* для SVG через currentColor */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-social-link:hover,
.our-social-link:focus {
    background-color: #404bbf;
}

.our-social-link:hover {
    color: #ffffff;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 219px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding: 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-item-bloc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-bloc {
    transform: translateY(0);
}

.portfolio-item:hover {
    box-shadow:
         0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
}                

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    }

.portfolio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo-w {
    color:#4d5ae5;
    margin-bottom: 0;
}

.footer {
     background-color: #2e2f42;
     padding-block: 100px;
}

.footer-item-ul {
    width: 264px;
    height: 112px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 120px; 
}

.footer-link {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-left {
    max-width: 264px;
}

.container-social {
   margin: 0 auto; 
}


.footer-social {
    display: flex;
    flex-direction: column;
}

.footer-item-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-item-social {
    width: 208px;
    height: 80px;
} 

.footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 0;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer .our-social-list {
    gap: 16px;
}

.footer .our-social-link:hover,
.footer .our-social-link:focus {
    background-color: #31d0aa;
}




